<div class="row">
  <app-header></app-header> <!--Selector de mi componente-->
</div>
<div class="row">

  <!--<app-home></app-home>--> <!--Selector de mi componente-->

  <!--Actúa como un marcador de posición que Angular llena dinámicamente según el estado actual del enrutador.
      Angular insertará dinámicamente el componente correspondiente a la URL actual -->
  <router-outlet></router-outlet>

  <!--<app-calculadora></app-calculadora>-->

</div>
<div class="row">
  <app-footer></app-footer>
</div>

